services:
    traefik:
        image: traefik:v3.4
        container_name: traefik
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true

        networks:
            - proxy

        ports:
            - '80:80'
            - '443:443'

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - certs:/certs
            - letsencrypt:/letsencrypt
            - ./dynamic:/dynamic:ro

        command:
            # EntryPoints
            - '--entrypoints.web.address=:80'
            - '--entrypoints.web.http.redirections.entrypoint.to=websecure'
            - '--entrypoints.web.http.redirections.entrypoint.scheme=https'
            - '--entrypoints.web.http.redirections.entrypoint.permanent=true'

            - '--entrypoints.websecure.address=:443'

            # Providers
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--providers.docker.network=proxy'
            - '--providers.file.directory=/dynamic'
            - '--providers.file.watch=true'

            # API & Dashboard
            - '--api.dashboard=true'
            - '--api.insecure=false'

            # Observability
            - '--log.level=INFO'
            - '--accesslog=true'

            # ACME / Let's Encrypt (AUTO certs)
            - '--certificatesresolvers.le.acme.email=certs@tamerhayek.com'
            - '--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json'
            - '--certificatesresolvers.le.acme.tlschallenge=true'

            # Default resolver for TLS routers on websecure
            - '--entrypoints.websecure.http.tls.certresolver=le'

        labels:
            - 'traefik.enable=true'

            # Dashboard router
            - 'traefik.http.routers.dashboard.rule=Host(`${TRAEFIK_DASHBOARD_DOMAIN}`)'
            - 'traefik.http.routers.dashboard.entrypoints=websecure'
            - 'traefik.http.routers.dashboard.tls=true'
            - 'traefik.http.routers.dashboard.tls.certresolver=le'
            - 'traefik.http.routers.dashboard.service=api@internal'

            # Basic-auth middleware
            - 'traefik.http.middlewares.dashboard-auth.basicauth.users=tamerhayek:$$apr1$$TnaeRtrr$$RR3ku5NtHe8SmZukk8cJx/'
            - 'traefik.http.routers.dashboard.middlewares=dashboard-auth@docker'

networks:
    proxy:
        name: proxy

volumes:
    certs:
    letsencrypt: